{% extends 'base.html.twig' %}

{% block body %}

    <div class="card">
        <h4 class="card-header">{{ email.senderEmail }}</h4>
        <div class="card-body">
            <h5 class="card-title">{{ email.subject }}</h5>
            <div> {{ email.body|raw }}</div>
        </div>
        <div class="card-footer">
            <div class="row">
 c'est le footer
            </div>
        </div>
    </div>

{% endblock %}