{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste des emails</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Expéditeur</th>
        <th scope="col">Objet</th>
        <th scope="col">Date d'envoi</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

{% endblock %}